body {
  background-color: violet;
  font-family: sans-serif;
}
.navbar {
  padding: 10px 0;
}

.nav-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Chaque bouton (box) */
.nav-btn {
  display: flex;          /* image à gauche, texte à droite */
  align-items: center;    /* centre verticalement */
  gap: 10px;              /* espace entre image et texte */
  background-color:white;
  color: rgb(0, 0, 0);
  text-decoration: none;  /* enlève le soulignement */
  padding: 10px 15px;
  border-radius: 12px;
  font-weight: bold;
  transition: 0.3s;
}

.nav-btn:hover {
  background-color: rgb(180,0,255);
  transform: scale(1.05);
}

/* Image à l'intérieur du bouton */
.nav-icon {
  width: 20px;       /* largeur réduite */
  height: 20px;      /* hauteur réduite */
  object-fit: contain;
}

/* Texte à côté de l'image */
.nav-text {
  white-space: nowrap; /* empêche le texte de passer à la ligne */
}



.title-project {
  text-align: center;
  font-size: 36px;
  margin: 20px 0;
}

.container-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;     /* Centre verticalement */
  height: 100vh;    
  gap: 40px;
  padding: 20px;
}

.project-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none; /* enlève le soulignement du lien */
  color: black;
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, background-color 0.3s;
  width: 300px
}

.project-card:hover {
  background-color: blueviolet;
  transform: scale(1.05);
  color: white;
}

.preview-project1 {
  width: 200px;
  height: 150px;
  border-radius: 15px;
  object-fit: cover;
  margin-top: 10px;
}
.preview-project2{
  width: 150px;
  height: 150px;
  object-fit : cover;
  margin-top: 10px;
}
