body {
  background-color: violet;
}
.photo-profile {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
}
.name-card {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
  padding: 30px;
}
.profile-card-container{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 300px;
  display: block;
  margin: 50px auto;
  border-radius: 30px;
  background-color: white;
  transition: 0.3s;
}
.profile-card-container:hover{
  background-color: blueviolet;
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.profile-card{
  text-align: center;
  font-size: 28px;
}
.description-card{
  text-align: center;
  font-size: 17px;
}